.footer {
    background: #000;
    color: #fff;
    padding: 60px 0 30px;
    font-size: 14px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.footer-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 80px;
}

.subscribe {
    display: flex;
    margin-top: 20px;
}

.subscribe input {
    flex: 1;
    padding: 14px;
    border: none;
    background: #eee;
    border-radius: 5px;
}

.subscribe button {
    padding: 14px 26px;
    margin-left: 12px;
    border: 1px solid #555;
    background: transparent;
    color: #fff;
    border-radius: 5px;
}

.contact-line {
    margin: 6px 0;
    color: #ddd;
}

.currency {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}
.currency img {
    width: 28px;
}

.currency-note {
    margin-top: 12px;
    font-size: 13px;
    color: #aaa;
}

.footer-divider {
    border: 0;
    border-top: 1px solid #333;
    margin: 50px 0;
}

.mobile-divider {
    display: none;
}

/* BOTTOM */
.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr;
    gap: 80px;
}

.footer-title {
    font-weight: 700;
    margin-bottom: 14px;
}

.footer-links p {
    color: #bbb;
    margin: 8px 0;
}

.payments {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.payments img {
    height: 34px;
    background: #fff;
    padding: 6px 10px;
    border-radius: 4px;
}

.copyright {
    text-align: center;
    margin-top: 40px;
    color: #aaa;
    font-size: 13px;
}
.social-icons {
    display: flex;
    gap: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.social-icons img {
    width: 34px;
    height: 34px;
    padding: 0px;
    background: #000;
}

/* TABLET */
@media (max-width: 768px) {
    .footer-top {
        gap: 40px;
    }
    .footer-bottom {
        gap: 40px;
    }
    .payments img {
        height: 28px;
    }
}

/* MOBILE */
@media (max-width: 500px) {
    .footer-top {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .footer-divider {
        border: 0;
        border-top: 0px solid #333;
        margin: 10px 0;
    }

    .subscribe {
        flex-direction: column;
        gap: 12px;
    }
    .subscribe button {
        width: 100%;
        margin-left: 0;
    }

    .mobile-divider {
        display: block;
        border: 0;
        border-top: 1px solid #333;
        margin: 10px 0;
    }

    .footer-bottom {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .footer-group {
        border-top: 1px solid #333;
        padding: 16px 0;
    }

    .payments {
        justify-content: center;
        flex-wrap: wrap;
    }

    .payments img {
        height: 30px;
    }

    .copyright {
        margin-top: 10px;
    }
}
