.product-header {
    padding-top: 40px;
}

.container-header {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 2px;
}

.hero p {
    margin-top: 15px;
    color: #555;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.products-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.left-filter {
    display: flex;
    gap: 30px;
}

.showfilter {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #777;
    cursor: pointer;
}

.filters-arrow {
    font-size: 16px;
}

.items {
    font-weight: 600;
}

.sort {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    cursor: pointer;
}

.sort-arrow {
    font-size: 16px;
    position: relative;
    top: 1px;
}

.mobile-only {
    display: none;
}
.sort-wrapper {
    position: relative;
    display: inline-block;
}

.sort-menu {
    position: absolute;
    top: calc(100% - 2px);
    right: 0;
    width: 300px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    padding: 10px 0;
    display: none;
    z-index: 20;
}

.sort-wrapper:hover .sort-menu {
    display: block;
}

.sort-menu p {
    padding: 22px 28px;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    cursor: pointer;
}

.sort-menu .active {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 14px;
}

.sort-menu p:hover {
    background: #f6f6f6;
}

/* MOBILE */
@media (max-width: 500px) {
    .hero h1 {
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .hero p {
        max-width: 350px;
    }

    .container-header {
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .products-topbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;
        padding: 15px 0;
        border-top: 1.5px solid #ddd;
        border-bottom: 1.5px solid #ddd;
    }

    .left-filter {
        justify-content: center;
    }

    .showfilter {
        color: #000;
        justify-content: center;
        font-weight: 600;
    }

    .sort {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 16px;
        border: 1.5px;
    }

    .sort::before {
        content: "";
        position: absolute;
        left: 0;
        height: 30px;
        width: 1px;
        background: #ddd;
        top: 50%;
        transform: translateY(-50%);
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: inline;
    }
}
