.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.products {
    padding-top: 30px;
    padding-bottom: 60px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    width: 100%;
    min-width: 0;
}

.card-img {
    width: 100%;
    height: 320px;
    object-fit: contain;
    background: #f7f7f7;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.title {
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.signin {
    font-size: 12px;
    color: #777;
}

.wishlist {
    font-size: 20px;
    cursor: pointer;
}

.mobile-only {
    display: none;
}
.desktop-only {
    display: inline;
}

/* TABLET */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* MOBILE */
@media (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card-img {
        height: 220px;
    }

    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .mobile-only {
        display: inline;
    }
    .desktop-only {
        display: none;
    }
}
